.signup-page {
  height: 100vh;
  background-color: #e3bdef;
  color: #755a7d;
}

.header {
  height: 20vh;
  width: 400px;
  margin-left: 10px;
}

.line {
  color: white;
  background-color: white;
  height: 2px;
  border-width: 0;
  width: 150px;
}

.signup-box {
  height: 450px;
  width: 450px;
  margin: auto;
  border: 1px solid black;
  margin-top: 75px;
  border-radius: 20px;
}

.title {
  margin-left: 5px;
  width: 80%;
}

.email-pass {
  width: 90%;
  margin: auto;
}

.click-options {
  color: #bc9ac6;
}

.option {
  margin: 0;
  margin-left: 20px;
}

.submit {
  width: 30%;
  height: 10%;
  border-radius: 10px;
  background-color: #e3bdef;
}

.submit-button {
  background-color: #e3bdef;
  border: none;
  color: white;
}
